* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: Roboto;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

/* main */
.main {
  width: 100%;
  display: flex;
}

/* image profile */
.img-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0.5px solid grey;
}

.main__logo {
  margin: 20px;
  font-size: 20px;
}

.main__logo span {
  color: #1d9bf0;
}

.main__nav {
  border-bottom: 1px solid #eff3f4;
  height: 65vh;
}

.main__items {
  margin-top: 50px;
  margin-left: 20px;
}

.main__item {
  margin-bottom: 15px;
}

.main_link {
  width: 90px;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  cursor: pointer;
}

/* .main__profile {
  display: inline-block;
} */

.main__profile-name {
  font-size: 17px;
}

.main__profile-logout {
  margin-top: 3px;
  font-size: 15px;
  letter-spacing: 2px;
  background-color: #0f1419;
  cursor: pointer;
  width: 100%;
  border: none;
  padding: 10px;
  color: #fff;
  border-radius: 20px;
}

.container-card__header {
  position: relative;
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #eff3f4;
}

.container-card__page {
  color: #0f1419;
  margin-left: 30px;
  margin-top: 20px;
}

.container-card__tabs {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  align-items: center;
  bottom: 0;
}

.container-card__tabs h4 {
  width: 50%;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  color: #303439;
}

.container-card__tabs h4:hover {
  background-color: #ebebeb;
}

.main__search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
}

.main__user-search {
  width: 80%;
  height: 50px;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  background-color: #eff3f4;
  border-radius: 50px;
  padding: 10px;
}

.main__user-search input {
  width: 80%;
  background-color: #eff3f4;
  border: none;
  outline: none;
  font-size: 17px;
}

.main__share {
  width: 100%;
  height: 124px;
  margin-top: 20px;
}

.main__share-inner-box {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  padding: 10px 10px;
  background-color: #f7f9f9;
}

.main__share-inner-box p {
  margin: 10px 0;
  font-size: 18px;
}
.main__share-button {
  width: 120px;
  height: 36px;
  border-radius: 36px;
  border: none;
  background-color: #0f1419;
  color: #ffffff;
  font-weight: bold;
}

/* User card */
.user-card__header,
.topic-card__header {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 10px;
  opacity: 0.7;
}

.user-card__details,
.topic-card__details {
  width: 90%;
}

.user-card__follow,
.topic-card__handle {
  font-size: 15px;
  cursor: pointer;
}

.user-card__description {
  margin-bottom: 15px;
  font-family: "Patrick Hand";
  font-size: 20px;
  text-align: justify;
}

.user-card__description--more::after {
  content: " Learn more...";
  color: #1d9bf0;
  cursor: pointer;
}

.user-card__img {
  width: 100%;
}

.user-card__expression {
  display: flex;
  gap: 5px;
  align-items: center;
}

.user-card__user-expression-icon {
  transform: scale(1.1);
  opacity: 0.8;
  cursor: pointer;
}

.user-card__expression-number {
  font-size: 14px;
  font-weight: bold;
  color: grey;
  font-family: "Patrick Hand";
}

.user-card__video {
  width: 100%;
  height: 300px;
}

.user-card__footer {
  margin-top: 10px;
}

@media (min-width: 43.75em) {
  .main {
    display: flex;
  }

  /* .container-card--home, */
  .container-card--topics,
  .container-card--videos {
    display: none;
  }

  .container-card--visible {
    display: block;
  }

  .container-card__header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1000;
  }

  .main__content-pane {
    width: calc(100% - 690px);
  }

  .main__left-pane {
    position: sticky;
    top: 0;
    width: 270px;
    border-right: 1px solid #eff3f4;
    height: 100vh;
  }

  .main__right-pane {
    position: sticky;
    top: 0;
    width: 400px;
    border-left: 1px solid #eff3f4;
    height: 100vh;
  }

  .main__user-botton-profile {
    position: absolute;
    bottom: 50px;
    left: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .main__users {
    position: absolute;
    bottom: 100px;
    right: 170px;
  }

  /* User-card */
  .user-card,
  .topic-card {
    display: flex;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid #eff3f4;
  }

  .user-card__img {
    width: 100%;
    height: 350px;
  }

  .user-card__footer {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }

  /* Share video/topic modal*/
  .modal {
    width: 400px;
    height: 100vh;
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    transition: all 1s linear;
    z-index: 10;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }

  .modal--visible {
    display: block;
  }

  .modal__close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 2px;
    transform: scale(1.2);
    opacity: 0.8;
    background-color: #0f1419;
    color: white;
    cursor: pointer;
    text-align: center;
  }

  .modal__form {
    width: 60%;
    height: 80%;
    margin: 50px auto 0 auto;
  }

  .modal__name,
  .modal__input {
    display: block;
  }

  .modal__name {
    font-size: 25px;
    font-weight: bold;
  }
  .modal__input {
    margin: 10px;
    padding: 5px;
    background-color: #f6f7f8;
    border: none;
    outline-style: none;
    font-size: 15px;
  }

  .modal__textarea {
    height: 100px;
  }

  .modal__input[type="submit"] {
    background-color: #111111;
    color: white;
    border: none;
    box-shadow: 1px 3px 5px grey;
    font-size: 15px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3 linear;
  }

  .modal__input[type="submit"]:hover {
    box-shadow: 1px 1px 2px grey;
    opacity: 1;
  }
}

/* Login page */
.login-page {
  width: 100%;
  height: auto;
  /* background-color: rgb(23, 22, 22); */
  box-sizing: border-box;
  justify-content: center;
  
}

.login-card {
  width: 30%;
  height: 300px;
  margin: 200px auto;
  padding: 40px;
  border-radius: 20px;
  /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); */
  background-color: black;
  box-shadow: 0 0 80px aqua;
  justify-content: center;
}

h1 {
  font-size: 35px; 
  text-align: center;
  color: white;
}

.form-group {
  position: relative;
  /* margin: 30px 0 */
  margin: 10px 0;  
}

.form-group input {
  width: 100%;
  
}

.form-group label {
  font-weight: bolder;
  transform: translateY(-50%);
  transition: -5s;
  color: white;
  font-style: italic;
  

}


.btnform-group input {
  position: relative;
  width: 100%;
  border-radius: 30px;
  background: aqua;
  box-shadow: 0 0 10px;
  /* box-shadow: 0 0 10px #90c0e0; */
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  border: none;
  margin: 10px 0;

}
  
/* form group label  */

/* .or-link {
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
  
} */

