.signup-body {
  width: 100%;
  height: max-content;
}

.signup-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.signup-card {
  margin: 20px;
  padding: 2rem;
  border: 2px solid black;
  min-width: 30rem;
}

.signup-text {
  text-align: center;
}
.signup-form small {
  color: red;
  font-weight: 600;
}
.signup-form input {
  border: none;
  border-bottom: 1px solid black;
}
.signup-form textarea,
/* input, */
.signup-card {
  border-radius: 0.5rem;
}
.signup-form textarea,
.signup-form input {
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
}

.signup-form label,
.signup-form input,
.signup-form textarea,
.or-link {
  font-weight: 600;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-control {
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.signup-form input[type="submit"] {
  cursor: pointer;
  padding: 0.8rem 1rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
}

.signup-form input[type="submit"]:hover {
  background-color: black;
  color: white;
}

.or-link {
  margin-top: 1rem;
}
